.desktop-data {
    align-items: center;
    background-color: #0e0c31;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    overflow: clip;
  }
  .desktop-data .sign-out-container{
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Ensures it's not interactable when hidden */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
  }
  .desktop-data .sign-out-container.show {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Reset position */
    visibility: visible; /* Make it interactable */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }
  .desktop-data .frame {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: clamp(5px, 5vh, 30px) clamp(1px, 5vw, 175px);
    position: relative;
    width: 100%;
  }
  
  .desktop-data .user-icon{
    border: 2px solid white;
    border-radius: 50%;
    padding:8px;
    height: 20px;
    width: 20px;
    transition: 0.3s ease, color 0.3s ease;
    z-index: 20;
    color: white;
  }
  .desktop-data .dialog-box{
    width: 40px;
  }
  .desktop-data .user-icon:hover{
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
    cursor: pointer;
  }
  .desktop-data .navbar {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .desktop-data .img {
    height: 36px;
    margin-bottom: -8px;
    margin-left: -4px;
    position: relative;
    width: 156px;
  }
  
  .desktop-data .hero {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
  .navbar, .hero, .footer {
    flex-shrink: 1; /* Allows the sections to shrink when screen height reduces */
  }
  .desktop-data .frame-22 {
    background-color: #5dd0d0;
    border-radius: 8px;
    height: 47px;
    overflow: hidden;
    position: relative;
    width: 133px;
  }
  
  .desktop-data .text-wrapper-14 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: 27.5px;
    position: absolute;
    top: 9px;
    white-space: nowrap;
    width: 75px;
  }
  .desktop-data .table {
    align-self: stretch;
    border: 1px solid #f50004;
    border-radius: 12px;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    table-layout: auto; /* Ensures even column spacing */
  }
  .desktop-data .frame-wrapper {
    background-color: #ffffff;
    height: 30px;
    width: 30px;
  }
  
  .desktop-data .table th,
  .desktop-data .table td {
    border: 1px solid #ff0004c7;
    padding: 12px 24px;
    text-align: center;
  }
  
  .desktop-data .column {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
  
  .desktop-data .header-cell {
    background-color: #400078c7;
    color: #ffffff;
    font-weight: bold;
  }
  
  .desktop-data .text-wrapper {
    color: #ffffff;
    flex: 1;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
    text-align: center;
  }
  
  .desktop-data .div {
    color: #ffffff96;
    flex: 1;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
    text-align: center;
  }
  .desktop-data .item-cell,
  .desktop-data .arrow-right-wrapper {
    background-color: #ff00ba82;
    color: #ffffff96;
    vertical-align: middle;
  
  }
  
  .desktop-data .arrow-right-wrapper {
    display: table-cell;  /* Maintain table structure */
    vertical-align: middle; /* Center vertically */
    text-align: center;  /* Center horizontally */
    padding: 0; /* Remove any padding that could push content */
  }
  .arrow-right-instance {
    height: auto;
  }
  .desktop-data .arrow-container {
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
  }
  .desktop-data .footer {
    align-items: center;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    height: 159px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .desktop-data .div-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    padding: 10px;
    position: relative;
  }
  
  .desktop-data .text-wrapper-2 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 129px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 83px;
  }
  
  .desktop-data .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
  }
  
  .desktop-data .frame-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 3px;
    position: relative;
    width: 100%;
  }
  
  .desktop-data .text-wrapper-3 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .desktop-data .frame-4 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px 3px;
    position: relative;
    width: 100%;
  }
  
  .desktop-data .home-log-in-sign-up {
    align-self: stretch;
    color: #ffffff;
    flex: 1;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 31px;
    margin-top: -1px;
    position: relative;
  }
  
  .desktop-data .frame-5 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
  }
  
  .desktop-data .text-wrapper-4 {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 80px;
  }
  
  .desktop-data .email-website {
    color: #ffffff;
    flex: 1;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 31px;
    margin-top: -1px;
    position: relative;
  }
  
  .desktop-data .text-wrapper-5 {
    color: #ffffff;
    flex: 1;
    font-family: "Outfit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .desktop-data .support-FAQ {
    color: #ffffff;
    font-family: "Outfit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 31px;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .desktop-data .ellipse {
    background-color: #87d0d080;
    border-radius: 294px/297px;
    filter: blur(305px);
    height: 594px;
    left: -218px;
    position: absolute;
    top: 269px;
    width: 588px;
  }
  
  .desktop-data .ellipse-2 {
    height: 574px;
    left: 560px;
    position: absolute;
    top: 0;
    width: 1090px;
  }
  
  .desktop-data .rectangle {
    align-self: stretch;
    height: 8px;
    position: relative;
    width: 100%;
  }